@using MyFavMusique.ViewModels
@model FMusic


<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">
				Music
			</h2>
		</div>

<div class="mb-3">

@if(Model.fMusic.Count == 0){
	<p>
		Create some music
	</p>
} else {
	//list music

	@foreach(var genre in Model.fMusic)
    {
        <button onclick="location.href='/Genre/Found/@genre.Id'" type="button" class="btn btn-outline-primary">@genre.Title</button>
    }
}	



</div>

<button type="button" onclick="location.href='/Music/Add/@Model.genreId'" class="btn btn-outline-primary">Add</button>

</div>