@using MyFavMusique.ViewModels
@model Genres
@{
    ViewData["Title"] = "Home Page";
}

<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">
				Select a genre
			</h2>
		</div>

<div class="mb-3">
			
@if(Model.genres.Count == 0)
{
    <p>Add a genre</p>
} else
{
    @foreach(var genre in Model.genres)
    {
        <button onclick="location.href='/Genre/Search/@genre.Id'" type="button" class="btn btn-outline-primary">@genre.Name</button>
    }
}
</div>

<button type="button" onclick="location.href='/Genre/Add'" class="btn btn-outline-primary">Add</button>

</div>