@using MyFavMusique.ViewModels
@model Music

<form method="post" asp-action="AddPOST">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">
				Create Music
			</h2>
		</div>

		<div class="mb-3">
			<label asp-for="Title"></label>
			<input asp-for="Title" class="form-control"/>
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Url"></label>
			<input asp-for="Url" class="form-control"/>
			<span asp-validation-for="Url" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label hidden asp-for="Genre.Id"></label>
			<input hidden asp-for="Genre.Id" value="@Model.Genre.Id" class="form-control"/>
			<span hidden asp-validation-for="Genre.Id" class="text-danger"></span>
		</div>

		<button type"submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width=150px">
			Return
		</a>
	</div>
</form>